
h1,
.services h1,
.testimonial-wrapper h1,
.quality-wrapper h2 a:hover,
.quality-wrapper .thumbnail .caption a:hover,
.galleri-wrapper .menu-index h2{
color           : #9cc264;
}
a:hover,
.date-times .date-upcoming{
color           : #9cc264;
}

ul.nav.navbar-nav li:last-child:hover{
    border-bottom: 0 solid transparent;
    }

#off-canvas-close-btn:hover,
#off-canvas-close-btn:focus,
.tr-slider-btn,
.reservation .carousel-indicators .active,
.services .nav-tabs li.active a, 
.services .nav-tabs li a:hover{
	background-color : #9cc264;
}
.gallery-trigger ul li a.active, .gallery-trigger ul li a:hover{
  background-color : #b1d47e;
  border: 1px solid #9cc264;
}
.tr-slider-btn:hover{
	color           : #9cc264 !important;
}
.fa-ul.list-inline.top-info.level-one li a {
    border: 1px solid #7E9E4F; 
    background-color:  #7E9E4F;
}

.fa-ul.list-inline.top-info.level-one li a:hover {
    background-color: #BCE482;
}
.fa-ul.list-inline.top-info.level-one li a.tel-no:hover{
	background-color: transparent;
}
.tp-bullets.preview4 .bullet:hover, .tp-bullets.preview4 .bullet.selected,
.header-top,.book-now-wrapper .toggle,
.btn,
.galleri-wrapper .gallary-image .fa,
.footer-bottom .fa-angle-up,
.leave-comments .btn-read-more {
    background-color: #9cc264 !important;
  }
.flags-align li:hover{
  background-color:rgba(156,194,100,0.3);
}
.btn:hover,
.leave-comments .btn-read-more:hover{
    background-color: rgb(120, 162, 57) !important;
  }
 .top-social.level-one li.location:hover{
	color: #9cc264;
}
.fa-ul.list-inline.top-info.level-one li a.tel-no:hover {
    color: #CFEAA8;
}

.flag-area .dropdown:before,
.event-media .media-body h3 a,
.dropdown dt a span,
.dropdown a, .dropdown a:visited,
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover
.navbar-default .navbar-nav > .active > a:focus .navbar-default .navbar-nav > .active > a.open,
 ul.nav.navbar-nav li a:hover,
 ul.nav.navbar-nav li a:focus,
 ul.level-one.dropdown-menu.single-dropdown li a:hover,
 .time p, .read-more a, .blue-night, .take-look-wrapper h1,
 .food-menu-wrapper .media .media-body h2 span,
 .book-table-wrapper .booking-form h1,
 .signature-wrapper .price span,
 .owl-wrap .owl-controls i:hover::before,
 .open-time strong,
 .open-time i,
 .address strong,
 .address i,
 footer .footer-top ul li a i:hover:before,
 .footer-bottom p a:hover,
 .flags-align li:hover,
 .popup-wrapper p a:hover{
 color           : #9cc264;
}

ul.nav.navbar-nav li.active,
ul.nav.navbar-nav li:hover{
    border-bottom: 2px solid #9cc264;

}
.food-menu-wrapper h2.item-name {
    border-bottom: 1px solid #9cc264;
}

.twitter-avatar,
.twt-area .date{
    color: #9cc264; 
}
.time.text-center p,
.date-times p:before{
	color: #9cc264;
}
.welcome-note.text-center { 
    border-bottom: 3px solid #9cc264;
    border-top: 3px solid #9cc264;
}

.dropdown-menu .mega-content ul li:hover {
    border-bottom: 0 solid transparent;
}
.menu-carousel li.mega-carousel-more a{
	color: #9cc264 !important;
}
.dropdown-menu { 
    border-bottom: 3px solid #9cc264 !important;
}

.team-wrapper .contents span,
.about-banner h1,
.story-wrapper h2,
.story-wrapper .contents span,
.story-wrapper .owner-info,
.about-brief-wrapper .contents h2,
.our-team-section h2{
	color: #9cc264;
}
.team-wrapper .social { 
    background: #9cc264;
}

.team-wrapper .social li a {
    color: #6F8948;
}
.team-wrapper .social::before{
  border-bottom: 15px solid #9cc264;
}
.team-wrapper .contents{
	    border-bottom: 2px solid #9cc264;
}


.menu-block .media .media-body h2 span,
.reservation-bottom-section a{
   color: #309f52;
}
 

.event-heading address strong,
.event-wrapper address strong{
	color: #9cc264;
}

.reservation-top-section .carousel-indicators .active{
  background: #9cc264;
  border: 1px solid #9cc264; 
}

.date-image .date-text {
    background-color: #9cc264;
}
.event-heading .btn.btn-imfo.btn-read-more,
.event-wrapper .btn.btn-imfo.btn-read-more{
	border-bottom: 2px solid #7DA444;
	background-color: #9cc264;
}
.book-now-wrapper .btn,
.event-heading .btn.btn-imfo.btn-read-more:hover{
	background-color: #480048;
}
.offcanvas-menu .close:hover,
.book-now-wrapper .btn{
	background-color: #9cc264;
}
.book-now-wrapper .btn:hover,
.date-image .date-icon {
      background-color: rgba(156, 194, 100, 0.8);
}

#custom-search-input .input-group,
.leave-comments .form-control {
    border: 1px solid #9cc264;
}

.event-media .media-body h3,
.event-media .date-of-event,
.btn.btn-danger.btn-search span:before{
	color: #9cc264;
}
.event-media { 
    border-bottom: 2px solid #9cc264;
}

.preset-wrapper .holder .heading,
.preset-wrapper .icon-holder{
	background-color: #9cc264;
}
.clock-time:before {
	color: #9cc264;
}

.event-heading .btn.btn-imfo.btn-read-more:hover {
    background: #309f52;
    }

.popup-wrapper input,
.contact-wrapper .form-wrapper .form-control:hover, 
.contact-wrapper .form-wrapper .form-control:focus {
    border: 1px solid #9cc264;
}
.dropdown dd ul,
.reservation .carousel-indicators .active{
  border:1px solid #9cc264;
}
.book-table-wrapper .booking-form .form-control{
  box-shadow: 0 1px 1px #9cc264;
}
.search-wrapper .search-container .search-contents input{
  border-bottom: 1px solid rgba(156,194,100,0.45);
}
.book-now-wrapper .book-now.open{
   border-right: 2px solid #9cc264;
}
.testimonial-wrapper .carousel-indicators .active{
  background: #9cc264 none repeat scroll 0 0;
  border: 1px solid #9cc264;
}
.carousel-fade .carousel-indicators li{
 border: 1px solid #9cc264; 
}
.details-text{
  border-right: 2px solid #9cc264;
}
.reservation a,
.reservation address strong {
    color: #9cc264;
}
.reservation a:hover {
    color: #679E17;
}
 
.navbar-default .navbar-toggle{
  background: #9cc264;
}
.start span{
  color: #ffffff;
}
.navbar-default .navbar-nav > .active > a, 
.navbar-default .navbar-nav > .active > a:focus, 
.navbar-default .navbar-nav > .active > a:hover{
  color: #9cc264;
}
.welcome-area .carousel-fade .carousel-indicators li{
  background-color: #9cc264;
}
/*Mobile */
@media only screen and (max-width : 767px) {

button.navbar-toggle{
  background: #9cc264;
}

}

