.gallary-hover-text {
	top: 8%;
}


@media only screen and (min-width : 480px) and (max-width : 767px) {
	.logo a img {
		width   : 95% !important;
	}
}

@media only screen and (min-width : 320px) and (max-width : 479px) {
	.logo a img {
		width   : 95% !important;
	}
}